

.grid{
    width:560px;
    height: 300px;
    border:2px solid rgb(15, 14, 14);
    position:absolute;
}

.block{
    width:100px;
    height:20px;
    background-color: blue;
    position: absolute;
    left:50px;
    bottom:50px;
}

.user{
    width:100px;
    height:20px;
    background-color: red;
    position: absolute;
}

.ball{
    width:20px;
    height:20px;
    border-radius: 20px;
    background-color: rgb(178, 209, 0);
    position: absolute;
}

.startbtn{
    background-color: red;
    margin:320px auto;
    margin-left: 230px;
    border: none;
    padding:20px 20px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 15px;
    color:white;
}


.restartBtn{
    background-color: red;
    margin:320px auto;
    margin-left: 10px;
    border: none;
    padding:20px 20px;
    border-radius: 20px;
    color:white;
    font-weight: bolder;
    font-size: 15px;
}
